<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Node Social TEST</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about" ui-sref="app.profile">Profile</a></li>
        <li><a href="#contact">Feed</a></li>
        <li class="profile" ng-show="currentUser" ui-sref="app.profile"><img src="{{currentUser.avatar}}" class="circular-thumbnail" alt=""></li>
        <li class="logout"  ng-click="logout()" ng-show="currentUser"><a href="">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container" style="padding-top: 150px; text-align: center;">

  <ui-view></ui-view>

</div><!-- /.container -->
